# 파이썬 가상환경
.venv/
myenv/
python/gravity_pygame/.venv/

# 파이썬 캐시
__pycache__/
*.pyc
*.pyo
*.pyd

# 빌드 파일
build/
dist/
*.egg-info/

# Jupyter
.ipynb_checkpoints/

# 운영체제
.DS_Store

# 데이터셋
Covid19-dataset/


# yolov5 전체 무시
ml_dl_python/yolov5/
# OpenCV models, utils 폴더 무시
opencv/part7/models/
opencv/part7/utils/